.header {padding: 20px;}
.main {padding: 20px;}

.main .hero {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--surface);
}

.main .hero .image-content {
    border-radius: 20px;
    position: relative;
    isolation: isolate;
}

.main .hero .image-content::before,
.main .hero .image-content::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 20px 0;
    width: 20%;
    height: 20%;
    background-color: var(--primary);
}

.main .hero .image-content::before {
    top: -5px;
    left: -5px;
}

.main .hero .image-content::after {
    bottom: -5px;
    right: -5px;
}

.main .hero .image-content .img {
    border-radius: 20px;
    background-color: var(--surface);
}

.main .topics .topic-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main .topics .topic-list .topic {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.main .topics .topic-list .topic:hover {
    transform: scale(0.99);
    box-shadow: 
        -1px 1px 10px #FFF inset, 
        1px 1px 10px #000 inset;
}

.main .topics .topic-list .topic .icon {
    border-radius: 50px;
    padding: 10px;
    background-color: var(--primary);
}

.main .newsletter {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: var(--surface);
    width: fit-content;
}

.main .newsletter .form {
    border-radius: 5px;
    border: 1px solid var(--border);
}

.main .newsletter .form .input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.main .newsletter .form .filled-btn {border-radius: 0 5px 5px 0;}

.footer {
    background-color: var(--surface);
    padding: 20px;
}

.footer .foot {padding: 20px;}

.footer .foot .form {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background);
}

.footer .foot .form label {width: 30%;}
.footer .foot .form .input {width: 100%;}
.footer .foot .form textarea.input {height: 100px;}

.footer .outro {text-align: center;}